.calculator {
  position: relative;
  margin: auto;
  max-width: 725px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;

  .calculator-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: $width-max-sm) {
      flex-direction: column;
    }
    @media screen and (min-width: $width-min-xs) {
      // padding: 32px;
    }
    @media screen and (max-width: $width-max-xs) {
      // padding: 32px;
    }
    &.balance {
      // flex-wrap: wrap;
      // flex-direction: row;
      // padding: 24px;
      border-bottom: none;

      .balance-item {
        width: 100%;
        @media screen and (min-width: $width-min-xs) {
          width: 50%;
        }
      }
    }
    .notice {
      text-align: center;
      padding: 10px 0px;
      font-size: 14px;
    }
    .warning {
      font-size: 14px;
      color: #ff5c5c;
      // font-weight: 600;
      position: absolute;
    }
    .row-container {
      margin-bottom: 34px;
    }
    .row-body {
      font-weight: 800;
      line-height: 1;
      color: #283049;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 15px;
      @media screen and (min-width: $width-min-xs) {
        font-size: 36px;
      }
      @media screen and (max-width: $width-max-xs) {
        font-size: 26px;
      }
      .value {
        position: relative;
      }
      .icon {
        display: flex;
        svg {
          width: 32px;
          height: auto;
          margin-right: 14px;
        }
      }
    }
    .row-footer {
      font-weight: 600;
      line-height: 1.5;
      color: #758295;
      @media screen and (min-width: $width-min-xs) {
        font-size: 18px;
      }
      @media screen and (max-width: $width-max-xs) {
        font-size: 16px;
      }
    }
    .reward-item {
      width: 50%;
      @media screen and (min-width: $width-min-sm) {
        padding-bottom: 12px;
      }
      @media screen and (max-width: $width-max-xs) {
        width: 100%;
        margin-bottom: 25px;
      }
      .row-body,
      .row-footer {
        color: $green-color;
      }
      .row-body {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .currency {
          font-weight: 600;
        }
      }
    }
    .reward-content {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      @media screen and (max-width: $width-max-xs) {
        margin-bottom: 0;
      }
    }
  }
}

.calculator__balance-loader {
  position: absolute;
  top: 13px;
  left: 50%;
}

.reward-value {
  font-size: 36px;
  font-weight: bold;
  color: $green-color;
}

.section-header {
  font-weight: 800;
  line-height: 1.5;
  color: #283049;
  margin-bottom: 24px;
  font-size: 16px;
}

.label--small {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #758295;
}

.token-label {
  @extend .label--small;
  position: absolute;
  top: 0px;
  left: 46px;
}

.stake__token-logo {
  width: 32px;
  height: 32px;
}

.stake__value {
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: #283049;
}